@page
@using HomeServices_RazorPage.Areas.Expert.Pages.Menu
@model Areas_Expert_Pages_Menu_CreateSuggestion
@{
}


<div class="goodup-dashboard-wrap gray px-4 py-5">
    <a class="mobNavigation" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="MobNav">
        <i class="fas fa-bars ms-2"></i>منو
    </a>
    <div class="collapse" id="MobNav">
        <div class="goodup-dashboard-nav sticky-top">
            <div class="goodup-dashboard-inner">
                <ul data-submenu-title="منو">
                    <li><a asp-page="ExpertDashboard"><i class="lni lni-dashboard ms-2"></i>داشبورد</a></li>
                    <li><a asp-page="orders"><i class="lni lni-files ms-2"></i>سفارش های رزرو</a></li>
@*                     <li><a asp-page="createSuggestion"><i class="lni lni-add-files ms-2"></i>ثبت پیشنهاد</a></li>
 *@                    <li><a asp-page="Comments"><i class="lni lni-envelope ms-2"></i> نظرات کاربران</a></li>
                </ul>
                <ul data-submenu-title="حساب کاربری">
                    <li><a asp-page="Profile"><i class="lni lni-user ms-2"></i> تنظیمات </a></li>
                    <li><a asp-page="/logout" asp-area=""><i class="lni lni-power-switch ms-2"></i>خروج</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!----------------------------------------->
    <div class="goodup-dashboard-content">
        <div class="dashboard-tlbar d-block mb-5">
            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12">
                    <h1 class="ft-medium fs-lg">پیشنهاد</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item text-muted"><a href="#">خانه</a></li>
                            <li class="breadcrumb-item text-muted"><a href="#">داشبورد</a></li>
                            <li class="breadcrumb-item"><a href="#" class="theme-cl">ثبت پیشنهاد </a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <a class="mobNavigation" data-bs-toggle="collapse" href="#MobNav" role="button" aria-expanded="false" aria-controls="MobNav"></a>
        <div class="col-xl-12 col-lg-2 col-md-12 col-sm-12">
            <div class="submit-form">
                <div class="dashboard-list-wraps bg-white rounded mb-4">
                    <div class="dashboard-list-wraps-head br-bottom py-3 px-3">
                        <div class="dashboard-list-wraps-flx">
                            <h4 class="mb-0 ft-medium fs-md">
                                <i class="fa fa-file ms-2 theme-cl fs-sm"></i>اطلاعات سفارش
                            </h4>
                        </div>
                    </div>

                    <div class="dashboard-list-wraps-body py-3 px-3">
                        <div class="row">

                            <!-- Title -->
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="mb-1">عنوان</label>
                                    <input type="text" class="form-control rounded" style="background-color: #f5f5f5;" asp-for="ViewData">
                                </div>
                            </div>


                            <!-- Category and Date -->
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label class="mb-1">تاریخ اجرا</label>
                                    <input class="form-control" style="background-color: #f5f5f5;" asp-for="ViewData">
                                </div>
                            </div>

                            <!-- Subcategory and Execution Time -->
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label class="mb-1">ساعت اجرا</label>
                                    <input type="text" class="form-control rounded" style="background-color: #f5f5f5;" asp-for="ViewData">
                                </div>
                            </div>

                            <!-- Description -->
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="mb-1">توضیحات</label>
                                    <textarea class="form-control rounded ht-150" placeholder="درباره کسب و کار..."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center justify-content-center">
                            <div class="col-xl-7 col-lg-10 col-md-12 col-sm-12 col-12">
                                <form class="bg-white rounded p-1">

                                    <div class="form-group mb-0 position-relative">
                                        <button class="btn full-width btn-height bg-danger text-white fs-md" type="button">ثبت</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>