@page
@model HomeServices_RazorPage.Pages.Errors.IndexModel
@{
}
<section>
	<div class="container">

		<div class="row justify-content-center">
			<div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center">

				<!-- Icon -->
				<div class=""><img src="/assets/img/404.png" class="img-fluid" alt=""></div>
				<!-- Heading -->
				<h2 class="mb-3 ft-bold">متاسفانه!! صفحه مورد نظر وجود ندارد.</h2>
				<!-- Text -->
				<h5 class="ft-medium fs-md mb-5">صفحه مورد نظر شما یافت نشد</h5>
				<!-- Button -->
				<a class="btn rounded theme-bg text-light" asp-page="/index">برو به صفحه اصلی</a>
			</div>
		</div>

	</div>
</section>