<div id="sidebar">
    <div class="side-menu-container">
        <ul class="metismenu" id="side-menu">
            <li class="open active conditional-bg">
                <a href="#" class="dropdown-toggle">
                    <i class="icon-home"></i>
                    <span>دیوارچه</span>
                </a>
                <ul>
                    <li>
                        <a href="/admin/services/index" class="current">
                            <i class="icon-home"></i>
                            <span>خدمات و سرویس ها</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/users/index" class="">
                            <i class="icon-home"></i>
                            <span>کاربران</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/categories/index" class="">
                            <i class="icon-home"></i>
                            <span>دسته بندی ها </span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/orders/index" class="">
                            <i class="icon-home"></i>
                            <span>سفارش ها</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/comments/index" class="">
                            <i class="icon-home"></i>
                            <span> نظرات و امتیاز ها</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul><!-- /#side-menu -->
    </div><!-- /.side-menu-container -->
</div><!-- /#sidebar -->