@page
@model HomeServices_RazorPage.Pages.RulesModel
@{
}
<!-- ======================= Top Breadcrubms ======================== -->
<div class="gray py-3">
	<div class="container">
		<div class="row">
			<div class="colxl-12 col-lg-12 col-md-12">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">خانه</a></li>
						<li class="breadcrumb-item"><a href="#">صفحات</a></li>
						<li class="breadcrumb-item active" aria-current="page">شرایط و قوانین</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- ======================= Top Breadcrubms ======================== -->
<!-- ======================= About Us Detail ======================== -->
<section class="middle">
	<div class="container">
		<div class="row align-items-center justify-content-between">

			<div class="col-xl-11 col-lg-12 col-md-6 col-sm-12">
				<div class="abt_caption">
					<h5 class="ft-medium mb-4 ff-base">شرایط و قوانین</h5>
					<p class="mb-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
					<p class="mb-4">کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- ======================= About Us End ======================== -->
