@page
@using App.Domain.Core.Contracts.AppService
@model HomeServices_RazorPage.Pages.Categories.IndexModel
@{
}
@inject IHouseWorkAppService workAppService


<section class="space min gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="sec_title position-relative text-center mb-5">
                    <h4 class="ft-bold">انتخاب دسته بندی</h4>
                </div>
            </div>
        </div>

        <!-- Display Categories Dynamically -->
        <div class="row align-items-center">
            @foreach (var category in Model.Cats)
            {
                var countSerivce = await workAppService.GetServiceCount(category.Id);

                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="cats-wrap text-center">
                        <a asp-page="/Subcategories/index" asp-area="" asp-route-id="@category.Id" class="Goodup-catg-wrap">
                            <div class="Goodup-catg-icon">
                                @if (category.Title == "تاسیسات")
                                {
                                    <i class="fas fa-house-damage"></i>
                                }
                                else if (category.Title == "نظافت")
                                {
                                    <i class="fas fa-building"></i>
                                }
                                else if (category.Title == "زیبایی")
                                {
                                    <i class="fas fa-basketball-ball"></i>
                                }
                                else if (category.Title == "تعمیرات اشیا")
                                {
                                    <i class="fas fa-screwdriver"></i>
                                }
                                else if (category.Title == "خودرو ")
                                {
                                    <i class="fas fa-car-alt"></i>
                                }
                                else if (category.Title == "سلامت")
                                {
                                    <i class="fas fa-stethoscope"></i>
                                }
                                else
                                {
                                    <i class="fas fa-question-circle"></i>
                                }
                            </div>
                            <div class="Goodup-catg-caption">
                                <h4 class="fs-md mb-0 ft-medium m-catrio">@category.Title</h4>
                                <span class="text-muted">@countSerivce آگهی</span>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@if (!User.Identity.IsAuthenticated)
{
    <section class="space bg-cover" style="background:#f41b3b url(assets/img/landing-bg.png) no-repeat;">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="sec_title position-relative text-center mb-5">
                        <h6 class="text-light">عضویت</h6>
                        <h3 class="ft-bold text-light ">برای شروع ثبت نام کنید</h3>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center">
                <div class="col-xl-7 col-lg-10 col-md-12 col-sm-12 col-12">
                    <form class="bg-white rounded p-1">
                        <div class="form-group mb-0 position-relative">
                            <button class="btn full-width btn-height bg-dark text-white fs-md" type="button">عضویت</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
}