@page
@using HomeServices_RazorPage.Areas.Customer.Pages.Menu
@model Areas_Customer_Pages_Menu_Profile
@{
}
<div class="goodup-dashboard-wrap gray px-4 py-5">
    <a class="mobNavigation" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="MobNav">
        <i class="fas fa-bars ms-2"></i>منو
    </a>
    <div class="collapse" id="MobNav">
        <div class="goodup-dashboard-nav sticky-top">
            <div class="goodup-dashboard-inner">
                <ul data-submenu-title="منو">
                    <li><a asp-page="Dashboard"><i class="lni lni-dashboard ms-2"></i>داشبورد</a></li>
                    <li><a asp-page="myorders"><i class="lni lni-files ms-2"></i>سفارش های من</a></li>
                </ul>
                <ul data-submenu-title="حساب کاربری">
                    <li><a asp-page="Profile"><i class="lni lni-user ms-2"></i> تنظیمات </a></li>
                    <li><a asp-page="/logout" asp-area=""><i class="lni lni-power-switch ms-2"></i>خروج</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <div class="goodup-dashboard-content">
        <div class="dashboard-tlbar d-block mb-5">
            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12">
                    <h1 class="ft-medium fs-lg">تنظیمات</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item text-muted"><a href="#">خانه</a></li>
                            <li class="breadcrumb-item text-muted"><a href="#">داشبورد</a></li>
                            <li class="breadcrumb-item"><a href="#" class="theme-cl">تنظیمات</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <div class="dashboard-widg-bar d-block">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 order-xl-last order-lg-last order-md-last">
                    <div class="d-flex bg-white rounded px-3 py-3 mb-3">
                        <div class="dash-figure">
                            <div class="dash-figure-thumb"><img src="~/assets/img/t-7.png" class="img-fluid rounded" alt="" /></div>
                            <div class="upload-photo-btn">
                                <div class="Uploadphoto" style="background:#03343b">
                                    <span><i class="fas fa-upload"></i> آپلود تصویر</span>
                                    <input type="file" class="upload">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12">
                    <form class="submit-form">
                        <div class="dashboard-list-wraps bg-white rounded mb-4">
                            <div class="dashboard-list-wraps-head br-bottom py-3 px-3">
                                <div class="dashboard-list-wraps-flx">
                                    <h4 class="mb-0 ft-medium fs-md"><i class="fa fa-user-check ms-2 theme-cl fs-sm"></i>مشخصات شخصی</h4>
                                </div>
                            </div>

                            <div class="dashboard-list-wraps-body py-3 px-3">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label class="mb-1">نام</label>
                                            <input type="text" class="form-control rounded" placeholder="نازنین" />
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label class="mb-1">نام خانوادگی</label>
                                            <input type="text" class="form-control rounded" placeholder="حقیقت نژاد" />
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label class="mb-1">شماره تماس</label>
                                            <input type="text" class="form-control rounded" placeholder="09320000000" />
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label class="mb-1">شهر</label>
                                            <select class="form-control">
                                                <option>تهران</option>
                                                <option>کرج</option>
                                                <option>پردیس</option>
                                                <option>پرند</option>
                                                <option>دماوند</option>
                                                <option>بومهن</option>
                                                <option>شهریار</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label class="mb-1">آدرس</label>
                                            <input type="text" class="form-control rounded" placeholder="نواب ، خیابان سوم">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label class="mb-1">موجودی(تومان)</label>
                                            <input type="text" class="form-control rounded" placeholder="15000">
                                        </div>
                                    </div>
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col-xl-7 col-lg-10 col-md-12 col-sm-12 col-12">
                                            <div class="bg-white rounded p-1">

                                                <div class="form-group mb-0 position-relative">
                                                    <button class="btn full-width btn-height text-white fs-md" type="button" style="background:#03343b">ذخیره تغییرات</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>